body {
  background: #303030;
  color: #ccc;
  font-family: sans-serif;
  font-size: 14px;
}

/* PAGINATOR STYLE OVERRIDES */
.onepage-pagination {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  padding: 3px;
  background: #000;
  opacity: 0.2;
  transition: opacity 1s;
}
.onepage-pagination:hover {
  opacity: 1;
  transition: opacity 0.1s;
}
.onepage-pagination li a{
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin: 3px 0;
  padding: 3px;
  background: #444;
  transition: background 0.3s;
}
.onepage-pagination li a:before{
  /* ononepage-scroll uses this for the circles */
  content: '';
  display: none;
}
.onepage-pagination li a.active {
  background: transparent;
}
.onepage-pagination li a.back {
  background: url('../img/back.png') 50% no-repeat;
  color: transparent;
  opacity: 0.5;
}


.image-canvas {
  position: relative;
}
/* Images have the class 'feature' */
.feature {
  display: block;
  margin: 3px auto;
}
.feature:hover {
  cursor: pointer;
}
.feature.width-constrained {
  margin: 3px 3px 3px 19px; /* the pager width is 32px + 3px padding * 2*/
}
/* Textual descriptions below feature images */
.meta {
  text-align: center;
}


/* GENERAL STYLE */
a {
  color: inherit;
}
